<h1 class="index-title">ようこそ Bookers へ！</h1>
<p class="index-text"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</P>
<p class="index-text">印象を共有し交換することができます</p>

<p class="index-text"><%= link_to "Start", new_book_path(@book) %></p>